<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    @RenderSection("scripts",false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
