@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "聊天";
    var msgs = ViewBag.msgs as IEnumerable<NetIM.IMServer.Helpers.MessageHistory>;
    long groupId = ViewBag.groupId;
}

<ul id="listMsgs">
    @foreach (var msg in msgs)
    {
        <li>
            <strong>@msg.FromUserName<text>@msg.CreateDateTime</text></strong>:@msg.Message
        </li>
    }
</ul>
<input type="text" id="txtMsg"/><input type="button" id="btnSend" value="发送"/>

@section scripts {
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
    if (!window.opener)
    {
        alert("只能通过聊天窗口打开");
    }
    function htmlEncode(value) {
        if (value) {
            return jQuery('<div />').text(value).html();
        }
        else {
            return '';
        }
    }

    function onMessage(msgName, options) {
        if (msgName == "onReceiveMessage")
        {
            var fromId = options.fromId;
            var message = options.message;
            $('#listMsgs').append('<li><strong>' + htmlEncode(fromId)
                + '</strong>: ' + htmlEncode(message) + '</li>');
        }
    }
    $(function () {
        $('#txtMsg').focus();
        $('#btnSend').click(function () {
            var msg = $('#txtMsg').val();
            window.opener.onMessage("sendGroupMessage", { groupId:@groupId,msg: msg});
            $('#txtMsg').val('').focus();
        });
    });
</script>

}