@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Demo";
}

<div class="tabs" id="tab1">
    <ul>
        @foreach (var group in Model.Groups)
        {
            <li><a href="#tabs-@(group.Id)" title="">@group.Name</a></li>
        }
    </ul>

    <div id="tabs_container">
        @foreach (var group in Model.Groups)
        {
             <div id="tabs-@(group.Id)">
                 xxxx
             </div>
        }
    </div>
</div>

@section scripts {
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/tabulous/tabulous.js"></script>
<link href="~/Scripts/tabulous/tabulous.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $('#tab1').tabulous();
    });
</script>
}