
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Demo";
}
<div class="container">
<form id="formLogin">
    手机号：<input type="text" name="phoneNum" value="18918918189" />
    密码：<input type="password" name="password" value="123" />
    <input type="button" id="btnLogin" value="登录" />
</form>
</div>
@section scripts {
<script>
    $(function () {
        $("#btnLogin").click(function () {
            var formData = $("#formLogin").serializeArray();
            $.ajax({
                type: "post", dataType: "json", url: "/IM/Login", data: formData,
                success: function (res) {
                    if (res.isOK) {
                        location.href = "/IM/Index";
                    }
                    else {
                        alert("手机或者密码错误");
                    }
                },
                error: function () {
                    alert("登录网页错误");
                }
            });
        });
    });
</script>
}